body,
#footer {
	color:#999999;
}

#header, 
#header-s2, 
#header-s3,
#main,
#featured_slider,
#subheader,
#footer,
.frontpage_teaser,
.more-labels
{
	background-color:rgb(0, 0, 0, 1);
	background-color:rgba(0,0,0,0.8);
}

h1,h2,h3,h4,h5,h6,
#subheader .page-title,
#footer .widget-title
{
	color:#ffffff;
}

a,
.mp3options a:hover,
.selected .fa-2x.play_icon,
.album-meta > a { color:#ffd908; }
a:hover { color:#ffffff; }

/* Menu */
/* ---------------------- */
#atp_menu a { color:#999999; }
#atp_menu li:hover, 
#atp_menu li.sfHover {  }
.sf-menu ul li {
	border-bottom: 1px solid rgba(255,255,255,.1);
}

#atp_menu ul { background:#222222; }
#atp_menu ul a { color:#cccccc; }

#atp_menu li li:hover, #atp_menu li li.sfHover,
#atp_menu li li a:focus, #atp_menu li li a:hover, #atp_menu li li a:active {
	color:#ffd908;	background:#333333;	}

#atp_menu a:hover,
#atp_menu li.current-cat > a, 
#atp_menu li.current_page_item > a,
#atp_menu li.current-page-ancestor > a {color:#ffd908;}

/* Menu */
/* ---------------------- */

.album-desc,
.artist-desc,
.gallery-desc,
.video-desc,
.event-desc,
.is-countdown
{
	background-color:#444444;
	border-color:#222222;
}

.album-desc a,
.artist-desc a,
.gallery-desc a,
.video-desc a,
.event-desc a {
	color:#ffffff;
}

.album-desc a:hover,
.artist-desc a:hover,
.gallery-desc a:hover,
.video-desc a:hover,
.event-desc a:hover {
	color:#222222;
}

.album-desc span,
.artist-desc span,
.gallery-desc span,
.video-desc span,
.event-desc span {
	color:rgba(255,255,255,0.5)
}

.divider,
#subheader,
.pagination a, .pagination a:link,
#footer .footer-sidebar,
.events-list,
.event_details_wrap,
.event-single .event_info,
.event-meta,
.event_wwrap,
.style2 .post_list,
.custompost_thumb {
	border-color:#444444;
}

#back-top span,
.event-meta .day,
.tagcloud a:hover,
.pagination a:hover,
.pagination span.current,
.play-btn,
.comment-edit-link, .post-edit-link {
	background-color:#ffd908;
	color: #444444;
}

.album-list:hover .album-desc,
.artist-list:hover .artist-desc,
.gallery-list:hover .gallery-desc,
.video-list:hover .video-desc,
.event-list:hover .event-desc,
.hover_type a.hoveraudio:hover,
.hover_type a.hovervideo:hover,
.hover_type a.hovergallery:hover,
.hover_type a.hoverimage:hover,
.hover_type a.hoverartist:hover,
.flex-title h5 span { 
	background-color:#ffd908; 
}

.album-playlist li { background-color:#444444; color:#999999; }
.album-playlist li a { color:#bbbbbb; }
.album-playlist li.selected,
.album-playlist li.selected > a,
.album-playlist li:hover { background-color:#222222 ;}

.album-list:hover .album-desc *,
.video-list:hover .video-desc *,
.gallery-list:hover .gallery-desc *,
.event-list:hover .event-desc *,
.artist-list:hover .artist-desc * { color:#111111; }

.album-list:hover .album-desc span,
.video-list:hover .video-desc span,
.gallery-list:hover .gallery-desc span,
.event-list:hover .event-desc span,
.artist-list:hover .artist-desc span { color:rgba(0,0,0,0.4) }

.event_details_wrap,
.djmix-list,
.events-list { background-color:#222222; }


/* Audio Player Dark Skin */
#fap-wrapper,
#fap-current-cover { background-color:#121212 !important; border-color:#444444 !important;}

#fap-volume-scrubber,
#fap-loading-bar { background-color:#444444 !important;}

#fap-current-title { color:#ffffff !important; }

#fap-volume-progress,
#fap-volume-scrubber,
#fap-time-bar { border-color:#444444 !important;}

#fap-playlist li { background:none !important; color:#ffffff !important; }

#fap-previous:hover,
#fap-progress-bar,
#fap-next:hover,
#fap-player-popup:hover,
#fap-playlist-toggle:hover,
#fap-playlist-shuffle:hover,
#fap-play-pause { color:#FFD908 !important; }

#fap-volume-indicator,
#fap-progress-bar { background-color:#FFD908 !important; }

#fap-current-meta > a { color:#FFD908 !important; }

#fap-wrapper-switcher { 
	background:#111111 !important; 
	border-top-color:#444444 !important; 
	border-right-color:#444444 !important; 
	border-left-color:#444444 !important;
}


/* Radio Skinning Dark
----------------------------------------------- */

.jp-radio .jp-interface { 
	background:#111111; 
	box-shadow:0 0 1px 0px rgba(0, 0, 0, 0.5);
}

.jp-radio .jp-controls:after,
.jp-radio .jp-time-holder:after,
.jp-radio .jp-volume-bar:before {
	border-left: 1px solid #000000;
	border-right: 1px solid #333333;
}

.jp-radio .jp-volume-bar {
	background-color:#444444;
}

.jp-radio .jp-volume-bar-value,
.jp-radio .jp-pause,
.jp-radio .jp-play {
	background-color:#FFD908;
}


.jp-close-btn { 
	color:#444444;
	background:#111111;
	border-style: solid;
	border-color:#333333;
}

.jp-radio .jp-time-holder,
.jp-radio .jp-progress strong {
	color:#ffffff;
}


.iva-np-pagination a{ color:#bbbbbb; }
.iva-np-pagination a:hover { color:#FFD908 }